GITHUB_USERNAME=abidkhan484

# cassandra variables
CASSANDRA_USERNAME=cassandra001
CASSANDRA_PASSWORD=somesecurepasswordsharedbyazure
CASSANDRA_DOMAIN=cassandra001.cassandra.cosmos.azure.com
CASSANDRA_KEYSPACE=portfolio
